//#region Variable  ----------------------------------------
$break-min: 300px;
$break-large: 1040px;
$break-lg: 1200px;
$break-md: 992px;
$break-small: 450px;
$break-sm: 768px;
@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu-M.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
}
//#region Page section style -------------------------------
.page-head {
  .header-content-container {
    background: #ffffff;
    position: relative;
    .content {
      height: 60px;
      display: flex;
      justify-content: center;
      .header {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        @media all and (max-width: $break-small) {
          max-width: 300px;
        }
        @media all and (min-width: $break-small) {
          max-width: 500px;
        }
        @media all and (min-width: $break-sm) {
          max-width: 690px;
        }
        @media all and (min-width: $break-lg) {
          max-width: 1140px;
        }
        .logo {
          display: flex;
          justify-content: flex-start;
          padding: 10px;
          float: left;
        }
        .navbar-right-web {
          height: 100%;
          display: none;
          @media all and (min-width: $break-md) {
            display: flex;
          }
          .navbar-text {
            font-family: "Ubuntu Regular";
            padding: 10px;
            font-size: 16px;
          }
          .navbar-nav {
            height: 100%;
            margin-right: 150px;
          }
          .navbar-nav > li {
            padding-top: 3px;
            padding-right: 10px;
          }
          .navbar-nav > li > a {
            color: #000000;
          }
          .navbar-nav > li > a {
            &:hover {
              background-color: inherit;
              opacity: 0.5;
            }
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .main-content {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    @media all and (min-width: $break-lg) {
      padding-top: 100px;
    }

    @media all and (max-width: $break-md) {
      background-color: #c6e5ff;
    }
    background: #ffffff;

    .wrapper {
      display: flex;
      width: 1140px;
      @media all and (min-width: $break-min) {
        max-width: 300px;
      }
      @media all and (min-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
      .mb-view-image {
        padding: 100px 20px;
      }
      .left-side {
        .text-content {
          @media all and (min-width: $break-lg) {
            width: 450px;
            padding: 20px;
          }
          padding-top: 50px;
        }
      }
      .right-side {
        .text-content {
          width: 500px;
          @media all and (min-width: $break-lg) {
            padding-left: 50px;
          }

          @media all and (max-width: $break-sm) {
            width: auto;
          }
        }
      }
    }
  }
}

.product-image {
  @media all and (min-width: $break-md) {
    background-color: #c6e5ff;
  }
  @media all and (min-width: $break-lg) {
    padding: 100px 0px;
  }

  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      justify-content: center;
      @media all and (max-width: $break-min) {
        max-width: 300px;
      }
      @media all and (max-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
      .text-content {
        @media all and (max-width: $break-md) {
          background: #ffffff;
          width: auto;
          padding: 25px;
        }
      }
    }
  }
}

.challenge {
  // overflow: hidden;
  background-color: #eff7fe;
  padding: 100px 0px;
  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      @media all and (max-width: $break-sm) {
        max-width: 300px;
      }
      @media all and (min-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
      justify-content: center;
      .left-side {
        @media all and (min-width: $break-lg) {
          .text-content {
            padding-top: 100px;
            width: 500px;
            .about-text-padding {
              padding-top: 100px;
            }
          }
        }
        @media all and (max-width: $break-lg) {
          .text-content {
            width: 690px;
            padding: 10px;
            .about-text-padding {
              padding-top: 60px;
            }
          }
        }

        @media all and (max-width: $break-sm) {
          .text-content {
            justify-content: center;
            width: 300px;
            .about-text-padding {
              padding-top: 20px;
            }
          }
        }
      }
      .right-side {
        img {
          display: inline-block;
          text-align: center;
          @media all and (max-width: $break-md) {
            padding: 10px;
          }
        }
      }
    }
  }
}

// processs
.general-info {
  padding: 50px 50px;
  min-width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;

  .general-content {
    max-width: 1140px;
    @media all and (max-width: $break-sm) {
      max-width: 300px;
    }
    @media all and (min-width: $break-sm) {
      max-width: 690px;
    }
    @media all and (min-width: $break-lg) {
      max-width: 1140px;
    }
  }
  .buttons-docs {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
  a {
    color: #5457ed;

    &:hover {
      cursor: pointer;
      color: #4548b5;
    }
  }
  .process-images {
    @media all and (max-width: $break-sm) {
      img {
        width: 300px;
      }
    }
  }
}

.product-design {
  padding: 100px 0px;

  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    @media all and (max-width: $break-sm) {
      .prod-title {
        padding: 30px;
      }
    }

    .wrapper {
      // border: 3px solid red;
      width: 1140px;
      @media all and (max-width: $break-min) {
        max-width: 300px;
      }
      @media all and (max-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }

      .left-side {
        // border: 3px solid orange;
        display: inline-block;
        @media all and (min-width: $break-lg) {
          .image {
            padding-top: 50px;
            margin-left: -55px;
          }
          .text-content {
            padding-top: 70px;
            width: 400px;
            .text-desc {
              padding-top: 20px;
            }
          }
        }
        @media all and (max-width: $break-sm) {
          .text-content {
            padding: 20px;
          }
          .overview-image {
            padding-top: 50px;
          }
        }
      }
      #fixedDiv {
        @media all and (min-width: $break-lg) {
          position: fixed;
          margin-top: 30px;
          display: inline-block;
          vertical-align: top;
        }
      }
      .right-side {
        // border: 3px solid green;
        position: sticky;
        top: 0;
        @media all and (min-width: $break-lg) {
          position: relative;
          .text-content {
            padding-top: 50px;
            width: 400px;
          }
          .overview-image {
            padding-top: 110px;
          }
        }

        @media all and (max-width: $break-sm) {
          .text-content {
            padding: 20px;
          }
          .overview-image {
            padding-top: 50px;
          }
        }
      }
    }
  }
}

.fullimage {
  .fi-padding {
    padding: 100px 0px;
    @media all and (max-width: $break-md) {
      padding: 20px 0px;
    }
  }
  .fi-last-padding {
    padding-top: 100px;
    @media all and (max-width: $break-md) {
      padding-top: 20px;
    }
  }
}
