//#region Variable  ----------------------------------------
$break-min: 300px;
$break-large: 1040px;
$break-lg: 1200px;
$break-md: 992px;
$break-small: 450px;
$break-sm: 768px;
$card-box-shadow: 0 0 20px 0 rgba(17, 17, 17, 0.14);
$primary-color: #5459ed;
$secondary-color: #3824a3;
$black: #1f1f1f;
$light-grey: #f3f4f6;
$background-lightgrey: rgba(243, 244, 246, 0.8);
$background-primary: rgba(84, 89, 237, 0.95);

//#region Page section style -------------------------------
.page-head {
  .header-content-container {
    background: #ffffff;
    @media all and (min-width: $break-lg) {
      background: linear-gradient(to left, #ffe7c5 50%, #ffffff 50%);
    }
    .content {
      height: 60px;
      display: flex;
      justify-content: center;
      .header {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        @media all and (max-width: $break-small) {
          max-width: 300px;
        }
        @media all and (min-width: $break-small) {
          max-width: 500px;
        }
        @media all and (min-width: $break-sm) {
          max-width: 690px;
        }
        @media all and (min-width: $break-lg) {
          max-width: 1140px;
        }
        .logo {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          float: left;
        }
        .navbar-right-web {
          // border: 1px solid green;
          height: 100%;
          display: none;
          @media all and (min-width: $break-md) {
            display: flex;
          }
          .navbar-text {
            font-family: "Ubuntu Regular";
            padding: 10px;
            font-size: 16px;
          }

          .navbar-nav {
            height: 100%;
            margin-right: 100px;
          }
          .navbar-nav > li {
            padding-top: 3px;
            padding-right: 10px;
          }
          .navbar-nav > li > a {
            color: #000000;
          }
          .navbar-nav > li > a {
            &:hover {
              background-color: inherit;
              color: #fff;
              opacity: 0.5;
            }
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .main-content {
    @media all and (min-width: $break-lg) {
      background: linear-gradient(to left, #ffe7c5 50%, #ffffff 50%);
      padding: 100px 0px;
    }
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    @media all and (min-width: $break-lg) {
      padding-top: 150px;
      padding-bottom: 150px;
    }

    .wrapper {
      display: flex;
      width: 1140px;
      justify-content: center;
      .left-side {
        @media all and (max-width: $break-lg) {
          background-color: #ffe7c5;

          .left-image {
            display: flex;
            justify-content: center;
            padding: 15px;
          }
        }
        .text-content {
          @media all and (max-width: $break-lg) {
            padding: 50px;
          }
          @media all and (min-width: $break-lg) {
            width: 450px;
          }
        }
      }
      .right-side {
        .text-content {
          @media all and (max-width: $break-lg) {
            padding: 50px;
          }
          @media all and (min-width: $break-lg) {
            width: 450px;
          }
        }
      }
    }
  }
}

//#firesec Page Styles
.firesec {
  position: relative;
  @media all and (min-width: $break-lg) {
    background: linear-gradient(to left, #c6e5ff 50%, #ffffff 50%);

    padding: 100px 0px;
  }
  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      justify-content: center;
      .left-side {
        @media all and (max-width: $break-lg) {
          background-color: #c6e5ff;

          .left-image {
            display: flex;
            justify-content: center;
            padding: 15px;
          }
        }

        .text-content {
          @media all and (max-width: $break-lg) {
            padding: 50px;
          }
          @media all and (min-width: $break-lg) {
            width: 450px;
          }
        }
      }
      .right-side {
        .text-content {
          @media all and (max-width: $break-lg) {
            padding: 50px;
          }
          @media all and (min-width: $break-lg) {
            width: 450px;
          }
        }
      }
    }
  }
}

//#about Page Styles
.about {
  position: relative;
  padding: 100px 0px;
  background: #fff3f3;
  height: fit-content;
  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      @media all and (max-width: $break-min) {
        max-width: 300px;
      }
      @media all and (max-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
      justify-content: center;
      .left-side {
        .about-text-padding {
          padding-top: 60px;
        }
        .text-content {
          @media all and (max-width: $break-lg) {
            padding: 50px;
          }
          @media all and (min-width: $break-lg) {
            width: 450px;
          }
        }
      }
      .right-side {
        .about-img-padding {
          padding-top: 50px;
          @media all and (max-width: $break-small) {
            width: 300px;
            display: inline-block;
            text-align: center;
          }
          @media all and (max-width: $break-lg) {
            display: inline-block;
            text-align: center;
          }
        }
      }
    }
  }
  .list-content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    .wrapper {
      display: flex;
      justify-content: center;
      width: 1140px;
      @media all and (min-width: $break-min) {
        max-width: 300px;
      }
      @media all and (min-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
    }
  }
}
//#End of advantage page styles
