//#region Variable  ----------------------------------------
$break-min: 300px;
$break-large: 1040px;
$break-lg: 1200px;
$break-md: 992px;
$break-small: 450px;
$break-sm: 768px;
$card-box-shadow: 0 0 20px 0 rgba(17, 17, 17, 0.14);
$primary-color: #5459ed;
$secondary-color: #3824a3;
$black: #1f1f1f;
$light-grey: #f3f4f6;
$background-lightgrey: rgba(243, 244, 246, 0.8);
$background-primary: rgba(84, 89, 237, 0.95);

//#region Page section style -------------------------------
.page-head {
  .header-content-container {
    background: #ffffff;
    position: relative;
    .content {
      height: 60px;
      display: flex;
      justify-content: center;
      .header {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        @media all and (max-width: $break-small) {
          max-width: 300px;
        }
        @media all and (min-width: $break-small) {
          max-width: 500px;
        }
        @media all and (min-width: $break-sm) {
          max-width: 690px;
        }
        @media all and (min-width: $break-lg) {
          max-width: 1140px;
        }
        .logo {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          float: left;
        }
        .navbar-right-web {
          height: 100%;
          display: none;
          @media all and (min-width: $break-md) {
            display: flex;
          }
          .navbar-text {
            font-family: "Ubuntu Regular";
            padding: 10px;
            font-size: 16px;
          }
          .navbar-nav {
            height: 100%;
            margin-right: 150px;
          }
          .navbar-nav > li {
            padding-top: 3px;
            padding-right: 10px;
          }
          .navbar-nav > li > a {
            color: #000000;
          }
          .navbar-nav > li > a {
            &:hover {
              background-color: inherit;
              opacity: 0.5;
            }
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .main-content {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    @media all and (min-width: $break-lg) {
      padding-top: 100px;
    }

    @media all and (max-width: $break-md) {
      background-color: #fff7ec;
    }
    background: #ffffff;

    .wrapper {
      display: flex;
      width: 1140px;
      @media all and (min-width: $break-min) {
        max-width: 300px;
      }
      @media all and (min-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
      .mb-view-image {
        padding: 100px 20px;
      }
      .left-side {
        .text-content {
          @media all and (min-width: $break-lg) {
            width: 450px;
            padding: 20px;
          }
          padding-top: 50px;
        }
      }
      .right-side {
        .text-content {
          width: 500px;
          @media all and (min-width: $break-lg) {
            padding-left: 50px;
          }

          @media all and (max-width: $break-sm) {
            width: auto;
          }
        }
      }
    }
  }
}

.product-image {
  @media all and (min-width: $break-md) {
    background-color: #ffe7c5;
  }
  @media all and (min-width: $break-lg) {
    padding: 100px 0px;
  }

  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      justify-content: center;
      @media all and (max-width: $break-min) {
        max-width: 300px;
      }
      @media all and (max-width: $break-sm) {
        max-width: 690px;
      }
      @media all and (min-width: $break-lg) {
        max-width: 1140px;
      }
      .text-content {
        @media all and (max-width: $break-md) {
          background: #ffffff;
          width: auto;
          padding: 25px;
        }
      }
    }
  }
}

.challenge {
  background-color: #fff7ec;
  padding: 50px 0px;
  position: relative;
  overflow: hidden;
  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      justify-content: center;
      .left-side {
        @media all and (min-width: $break-lg) {
          padding-top: 100px;
        }
        .about-text-padding {
          padding-top: 100px;
        }
        .text-content {
          width: 500px;

          @media all and (max-width: $break-sm) {
            width: 300px;
            padding: 30px;
          }
        }
      }
      .right-side {
        border: 1px solid red;
        img {
          @media all and(max-width: $break-sm) {
            width: 300px;
          }
        }
      }
    }
  }
}

// processs
.general-info {
  padding: 50px 50px;
  min-width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;

  .general-content {
    max-width: 1140px;
    @media all and (max-width: $break-sm) {
      max-width: 300px;
    }
    @media all and (min-width: $break-sm) {
      max-width: 690px;
    }
    @media all and (min-width: $break-large) {
      max-width: 1140px;
    }
  }
  .buttons-docs {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
  a {
    color: #5457ed;

    &:hover {
      cursor: pointer;
      color: #4548b5;
    }
  }
  .process-images {
    @media all and (max-width: $break-sm) {
      img {
        width: 400px;
        margin-left: -50px;
      }
    }
  }
}

.product-design {
  padding: 100px 0px;
  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .wrapper {
      display: flex;
      width: 1140px;
      justify-content: center;
      .general-title {
        padding: 30px 0px;
        @media all and (max-width: $break-sm) {
          text-align: center;
        }
      }
      .left-side {
        @media all and (min-width: $break-large) {
          .image {
            padding-top: 50px;
            margin-left: -55px;
          }
          .text-content {
            padding-top: 150px;
            width: 400px;
          }
        }
        @media all and (max-width: $break-sm) {
          .text-content {
            padding: 25px;
          }
        }
      }
      .right-side {
        @media all and (min-width: $break-large) {
          .text-content {
            padding-top: 50px;
            width: 400px;
          }
        }

        @media all and (max-width: $break-sm) {
          .text-content {
            padding: 25px;
          }
        }
      }
    }
  }
}

.fullimage {
  .fi-padding {
    padding: 100px 0px;
  }
  .fi-last-padding {
    padding-top: 100px;
  }
}
